body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    padding: 0.5em;
    margin: 10px;
}

.outer-container {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: repeat(8, minmax(50px, 1fr));
}

.header-container {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, 1fr));
    background-image: linear-gradient(to Right, #0F1A91 , #2FBCC1);
    color: white;
    align-items: center;
}

.logo-item {
    display: flex;
    grid-column: 1 / 6;
    align-items: center;
    gap: 20px;
}

.tab-item {
    grid-column: span 1;
    text-align: center;
}

.body-container {
    grid-row: span 7;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(12, minmax(50px, 1fr));
    grid-template-columns: repeat(12, minmax(50px, 1fr));
}

.home-description {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.project-title {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project-stage {
    display: flex;
    grid-row: span 3;
    grid-column: span 4;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.project-photo {
    grid-row: span 4;
    grid-column: 1 / -1;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.team-photo {
    grid-row: 1 / -1;
    grid-column: 1 / 5;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.team-title {
    display: flex;
    grid-row: 1 / 4; /*4-> last row is empty, 5 -> all rows are full*/
    grid-column: 5 / -1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.team-profile {
    display: flex;
    grid-row: span 4;
    grid-column: span 4;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

div {
    display: grid;
}

.nav-a:link {
    text-decoration: none;
    color: white;
}
  
.nav-a:visited {
    text-decoration: none;
    color: white;
}
  
.nav-a:hover {
    text-decoration: none;
    color: white;
}
  
.nav-a:active {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0px;
    margin-block-end: 0px; 
}