body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    padding: 0.5em;
    margin: 10px;
}

.outer-container {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: repeat(8, minmax(50px, 1fr));
}

.header-container {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, 1fr));
    background-image: linear-gradient(to Right, #0F1A91 , #2FBCC1);
    color: white;
    align-items: center;
}

.logo-item {
    display: flex;
    grid-column: 1 / 4;
    align-items: center;
    gap: 20px;
}

.tab-item {
    grid-column: span 1;
    text-align: center;
}

.body-container {
    padding: 10px;
    grid-row: span 6;
    display: grid;
    grid-template-rows: repeat(6, minmax(50px, 1fr));
    grid-template-columns: repeat(12, minmax(50px, 1fr));
}

.home-title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-items: center;
    text-align: center;
}

.home-goals {
    grid-row: span 2;
    grid-column: span 4;
    text-align: center;
}

.home-solutions {
    grid-row: span 2;
    grid-column: span 4;
    text-align: center;
}

.home-users {
    grid-row: span 2;
    grid-column: span 4;
    text-align: center;
}

.home-photo {
    grid-row: span 3;
    grid-column: 1 / -1;
    /*border: 1px solid black;*/
    align-items: center;
    text-align: center;
}

.footer-container {
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
}

.home-disclaimer {
    padding: 10px;
    grid-column: 1 / -1;
    background-image: linear-gradient(to Right, #0F1A91 , #2FBCC1);
    color: white;
    align-items: center;
}

div {
    display: grid;
}

.nav-a:link {
    text-decoration: none;
    color: white;
}
  
.nav-a:visited {
    text-decoration: none;
    color: white;
}
  
.nav-a:hover {
    text-decoration: none;
    color: white;
}
  
.nav-a:active {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0px;
    margin-block-end: 0px; 
}